altair==4.1.0
asent==0.6.0
numpy==1.23.5
pandas==1.5.2
Pillow==9.4.0
plotly==5.4.0
requests==2.25.1
seaborn==0.11.1
spacy==3.4.3
spacy_streamlit==1.0.4
stqdm==0.0.5
streamlit==1.15.1
spacy-transformers==1.2.0
spacy[transformers]
transformers==4.21.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm

